{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Nouvelle catégorie</h1>

    {{ include('admin/categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}"><button type="button" class="btn btn-primary">Retour</button></a>
{% endblock %}
