{% extends 'base.html.twig' %}

{% block title %}PanierPlace index{% endblock %}

{% block body %}
    <h1>Panier</h1>

    {{ include("panier_place/tableau_panier.html.twig") }}
    <form action="{{ path("commande_new") }}" method="post">
        <input type="submit" class="btn btn-success" value="Valider la commande">
    </form>
{% endblock %}
