{% extends 'base.html.twig' %}

{% block title %}PanierPlace index{% endblock %}

{% block body %}
    <h1>Panier</h1>

    {{ include("panier_place/tableau_panier.html.twig") }}
    <a class="button" type="btn btn-primary" href="#"><button class="btn btn-success">Ajouter</button></a>
{% endblock %}
