{% extends "base.html.twig" %}

{% block body %}

    <h1>Panel d'administration</h1>
    <p><a href="{{ path("commande_index") }}">Gérer les commandes</a></p>
    <p><a href="{{ path("evenement_index") }}">Gérer les évenements</a></p>
    <p><a href="{{ path("user_index") }}">Gérer les clients</a></p>

{% endblock %}