{% extends 'base.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Create new Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}"><button type="button" class="btn btn-primary">back to list</button></a>
{% endblock %}
