{% extends 'base.html.twig' %}

{% block title %}Edit Evenement{% endblock %}

{% block body %}
    <h1>Modifier evenement</h1>

    {{ include('admin/evenement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('evenement_index') }}"><button type="button" class="btn btn-warning">Retour</button></a>

    {{ include('admin/evenement/_delete_form.html.twig') }}
{% endblock %}
