{% extends 'base.html.twig' %}

{% block title %}New Evenement{% endblock %}

{% block body %}
    <h1>Create new Evenement</h1>

    {{ include('admin/evenement/_form.html.twig') }}

    <a href="{{ path('evenement_index') }}"><button class="btn btn-primary">back to list</button></a>
{% endblock %}
